body {
    
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    font-family: Lato, sans-serif;
}
.cloud {
        
        width: 20%;
        height: 50%;
        
    }
#cloud1{
        position: absolute;
        right: 10px;
        top: 0;
    }
#cloud2{
        position: absolute;
        left: 0px;
    }
    

.upperDiv {
   
    background-color: #9ba4b4


}
#header1{
    margin: auto auto auto auto;
    margin-top: 200px;
    font-family: Playfair, serif;
    font-size: 625%;
    color: #14274e;
     
    
}
.bottom-container {
  background-color: white;
  text-align: center;
  
}
.middle-container {
  background-color: white;
  padding: 20px;
}

.footer-link {
  margin: 0 10px;
  color: #14274E;
  font-size: 18px; 
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #394867; 
}

.bottom-container p {
  font-size: 12px;
  color: #9BA4B4; 
  margin-top: 10px;
}
h2 {
    font-family: Playfair, serif;
    color: #14274e;
    font-size: 312.5%;
}
h3 {
    font-family: Lato, sans-serif;
    color: #394867;
    font-size: 187.5%;
}
p {
    font-family: Lato, sans-serif;
    color: #394867;
    font-size: 20px;
}


